# Copy to /etc/systemd/system/:
# sudo cp tig_*.service /etc/systemd/system/
# sudo chmod +x /home/ubuntu/tig-monorepo/scripts/*.sh

# then execute these commands:
# sudo systemctl daemon-reload
# sudo systemctl enable tig_cpu_monitor.service
# sudo systemctl start tig_cpu_monitor.service
# sudo systemctl status tig_cpu_monitor.service


[Unit]
Description=CPU monitor service
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/tig-monorepo/scripts
ExecStart=/home/ubuntu/tig-monorepo/scripts/tig_cpu_monitor.sh
Restart=always
RestartSec=5  # Wait 5 seconds before restarting

[Install]
WantedBy=multi-user.target


